body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
} 

.palabra-container {
    text-align: center;
    margin-top: 50px;
}

h2 {
    margin-bottom: 20px;
}

.palabra {
    margin-bottom: 20px;
}

.letra {
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
}

.formulario {
    margin-bottom: 20px;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}